:root {
  --title: #303030;
  --white: #FFFFFF;
  --green: #2C4B48;
  --beige: #F4F0EB;
  --green-back: #303030;
  --green-light: #F9C987B;
  --title-green: #63635A;
  --orange-1: #DAA27F;
  --braun-1: #9E694A;
  --braun: #3F3E39;
  --beige-dark: #D7CABA;
  --grey-light: #EEEEEE;
  --grey: #DBDBDB;
  --beige-light: #EFE9E0;
}