@import './breakpoints.scss';

:root {
  .semibold-24 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
  .medium-16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .normal-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .semibold-36 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
  }
  .normal-17 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }
  .normal-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .normal-large {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
  }
  .normal-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .medium-20 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  .medium-40 {
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
  }
  .normal-24 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}




